body ,html{
    background-color: #f4f4f4;
    margin:0;
    padding: 0;
}


.banner{
    
    /*Photo by <a href="https://unsplash.com/@seleaphotography?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ioana Ye</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    Photo by <a href="https://unsplash.com/es/@rogerdvig?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Roger Erdvig</a> on <a href="https://unsplash.com/s/photos/photography?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
    */
    background-image: url('img/wall.jpg');
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}
